<<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/assest/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>Login</title>
    </head>

    <body>
        <div
            class="container d-flex flex-column align-items-center flex-md-row-reverse justify-content-md-around bg-white">
            <div class="form-container text-center">
                <h1>Login</h1>
                <form action="/user/login" method="POST">
                    <div class="py-2">
                        <label for="email">Email:</label>
                        <input type="email" placeholder="type your email" name="email" id="email" required />
                    </div>
                    <div class="py-2">
                        <label for="password">Password:</label>
                        <input type="password" placeholder="Enter Password" name="password" id="password" required />
                    </div>
                    <div class="py-2">
                        <button class="submit" type="submit">Login</button>
                    </div>
                </form>
                <a href="/user">Register</a>
            </div>
            <div class="text-center login-img">
            </div>
        </div>
        </main>
        <main>

    </body>

    </html>>