<%- include ("partials/header.ejs") %>


<div class="container d-flex flex-column align-items-center flex-md-row-reverse justify-content-md-around bg-white">
    <div class="form-container text-center">
        <h1>Register</h1>
        <form action="/user" method="POST">
            <div class="py-2">
                <label for="name">name:</label>
                <input type="text" placeholder="type your name" name="name" id="name" required />
            </div>
            <div class="py-2">
                <label for="email">Email:</label>
                <input type="email" placeholder="type your email" name="email" id="email" required />
            </div>
            <div class="py-2">
                <label for="password">Password:</label>
                <input type="password" placeholder="Enter Password" name="password" id="password" required />
            </div>
            <div class="py-2">
                <button class="submit" type="submit">Register</button>
            </div>
        </form>
        <a href="/user/login">Login</a>
    </div>
    <div class="text-center login-img">
    </div>
</div>

<%- include ("partials/footer.ejs") %>